@model TbCms.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

@Styles.Render("~/Content/MasterEdit.css")

@using (Html.BeginForm())
{

    <div>
        <!-- システムユーザID -->
        <div class="form-group">
            @Html.LabelFor(m => m.system_user_id)
            @Html.TextBoxFor(m => m.system_user_id, new { @class = "search" })
            @Html.ValidationMessageFor(m => m.system_user_id, "", new { @class = "text-denger" })
        </div>
        <br />
    </div>

        <div>
            <!-- パスワード -->
            <div class="form-group">
                @Html.LabelFor(m => m.password)
                @Html.PasswordFor(m => m.password, new { @class = "search" })
                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-denger" })
            </div>
            <br />
        </div>

        <input type="submit" value="ログイン" class="btn btn-registration" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
